body {
	font-family: 'Source Sans Pro', sans-serif;
	background: #475666;
	color: white;
}

h1, h2 {
	text-align: center;
	text-decoration: underline;
}

p {
	text-align:	center;
	font-style: italic;
	font-size: 15px;
}

ul, li {
	text-align: center;
}

button {
	text-align: center;
}

